:root {
  --primary-blue:#2563eb;
  --dark-blue:#1e3a8a;
  --light-bg:#f8fafc;
  --card-bg:#ffffff;
  --nav-bg:#4a5fe8ff;
  --text-main:#1e293b;
  --text-muted:#64748b;
}

body{
 margin:0;
 font-family:'Poppins',sans-serif;
}

/* NAVBAR */
.navbar-custom{
 background:var(--nav-bg);
 padding:.5rem 2%;
 box-shadow:0 2px 10px rgba(0,0,0,.1)
}
.navbar-custom .container-fluid{
 display:flex;
 align-items:center;
 justify-content:space-between
}
.navbar-brand-custom{
 font-weight:500;
 font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
 color:#fff!important;
 text-transform:uppercase;
 font-size:40px;
 padding:0
}
.brand-subtitle{
 color:#f5f6f7;
 margin-top:5px;
 font-size:17px;
 letter-spacing:2px;
 opacity:.9
}
.navbar-nav{gap:10px;align-items:center}

.nav-link-custom{
 display:flex;
 align-items:center;
 gap:8px;
 padding:.8rem 1.2rem!important;
 color:#f5f6f7!important;
 font-weight:500;
 border-radius:10px;
 transition:.3s
}
.nav-link-custom:hover,
.nav-link-custom.active{
 background:#fff;
 color:#111!important
}
.navbar-collapse {
  overflow: hidden; /* required for smooth collapse */
  transition: height 0.35s ease; /* smooth animation */
}

.nav-link-custom.active {
    background-color:#ffffff;
    color: var(--primary-green) !important;
    border-radius: 6px;
    font-weight: 600;
}



/* RESPONSIVE */
@media(max-width:768px){
 .navbar-brand-custom{font-size:28px}
 .brand-subtitle{font-size:13px;letter-spacing:1px}
}
@media(max-width:992px){
 .navbar-collapse{
  background:#4a5fe8ff;
  padding:1rem;
  border-radius:12px;
  margin-top:10px
 }
 .nav-link-custom{width:100%;justify-content:flex-start}
}
@media(max-width:1200px){
 .nav-link-custom{padding:.5rem .7rem!important;font-size:.9rem}
}
